/*top nav code*/
body {
  margin: 0;                                     /*create space around elements,outside of any defined borders*/
  font-family: Arial, Helvetica, sans-serif;    /*specify the font of a text*/
}

.topnav {
  overflow: hidden;               /*content overflows an element's box*/
  background-color: #333;
}

.topnav a {                       /*create a top navigation bar*/
  float: left;                   /*positioning and formatting content*/
  display: block;                /*display behaviour of an element*/
  color: #f2f2f2;
  text-align: center;            /*horizontal alignment of text in an element*/
  padding: 14px 16px;           /*generate space around an element's content,inside of any defined borders*/
  text-decoration: none;        /*style of the text decoration (like solid,wavy,dotted)*/
  font-size: 17px;              /*resize the text*/
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {                  /*used in media queries to apply different styles for different media types/devices*/
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
     body {
  font-family: "Lato", sans-serif;
}
/*side nav code*/
.sidenav {                                 /*display the navigation pane to the left of the page content*/
  height: 100%;
  width: 0;
  position: fixed;                        /*type of positioning method used for an element*/
  z-index: 1;                             /*stack order of an element*/
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;                      /*change property values smoothly,over a given duration*/
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {                     /*:hover- change the style of a button when you move the mouse over it*/
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

